﻿@typeparam TItem;
<h3>Table</h3>

<div>
    <table class="table">
        <thead>
            @foreach (var header in Headers)
            {
                <tr>@header</tr>
            }
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                @ItemTemplate(item)
            }
        </tbody>
    </table>
</div>
<button class="btn-lg btn-primary"> Chuju</button>

@code {
    [Parameter] public RenderFragment<TItem> ItemTemplate { get; set; }
    [Parameter] public IReadOnlyList<TItem> Items { get; set; }

    [Parameter]
    public List<string> Headers { get; set; }
}
