﻿@page "/"
@using ColoDAL.Models

<Table  Headers="Headers" Items="@jsFrameworks" TItem="JsFramework">
    <ItemTemplate>
        <tr>
            <td>
                @context.Name
            </td>
        </tr>
    </ItemTemplate>
</Table>


<div>
    <table class="table">
        <thead>
            @foreach (var header in Headers)
            {
                <tr>@header</tr>
            }
        </thead>
        <tbody>
            @foreach (var item in jsFrameworks)
            {
                <tr>
                    <td>@item.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code{
    List<JsFramework> jsFrameworks = new List<JsFramework>() { new JsFramework() { Name = "Dupa" }, new JsFramework() { Name = "Dupa2" } };
    List<string> Headers = new List<string>() { "Name" };

}